.bot-message-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.bot-message {
    background-color: white;
    border: 1px solid #2D5046;
    margin-left: 0;
    margin-right: auto;
    padding: 0 15px;
}

.box {
    width: '150px';
    height: '150px';
    z-index: 300;
    
}